<h1 class="text-center display-3">Welcome to Maintenance Management</h1>
<!--TODO Add login stuff here -->
<div ng-app>
  {{ 20 / 5 }} &lt;- If that doesn't show a math problem, Angular's working.
</div>
